[submodule "services/frontend"]
	path = services/frontend
	url = git@github.com:Cominder-rs/frontend.git
[submodule "civilization"]
	path = civilization
	url = git@github.com:Cominder-rs/civilization.git
[submodule "services/users"]
	path = services/users
	url = git@github.com:Cominder-rs/users.git
[submodule "third-party/tonic-web-wasm-client"]
	path = third-party/tonic-web-wasm-client
	url = git@github.com:Cominder-rs/tonic-web-wasm-client.git
[submodule "services/posts"]
	path = services/posts
	url = git@github.com:Cominder-rs/posts.git
[submodule "services/users_dummy"]
	path = services/users_dummy
	url = git@github.com:Cominder-rs/users_dummy.git
